TripBookingWebApp/Connected Services/FindVacationService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65187/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Getvactionspot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="longitude" type="xs:decimal" />
        <xs:element minOccurs="0" name="langitude" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetvactionspotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetvactionspotResult" nillable="true" type="q1:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Combine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Relaxvalue" type="xs:double" />
        <xs:element minOccurs="0" name="Safetyvalue" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CombineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CombineResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>