TripBookingWebApp/Connected Services/BookingService/AirportAndHotelService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54814/AirportAndHotelService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetFlightBookings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="originLatitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="originLongitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationLatitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationLongitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="returnDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adults" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="children" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightBookingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFlightBookingsResult" nillable="true" type="q1:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelBookings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkInDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkOutDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rooms" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adults" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="children" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelBookingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHotelBookingsResult" nillable="true" type="q2:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>